html {
  font-family: system-ui;
}

header {
  top: 4px;
  width: 100%;
  height: 50px;
  box-shadow: 0 4px 2px -2px rgb(204, 204, 204);
  position: fixed;
}

header > * {
  display: inline-flex; 
}

header * {
  text-decoration: none;
  list-style: none;
  color: black;
  margin-right: 5px;
}

header > a {
  margin-top: 10px;
  font-size: 18px;
  margin-left: 10px;
}

.nav_bar {
  position: absolute;
  right: 0;
}

.nav_bar ul {
  display: inline-flex;
}

.nav_bar ul li a {
  padding: 10px;
  color: grey;
}

.nav_bar ul li a:hover {
  border: 0.75px solid blue;
  color: blue;
  border-radius: 5px;
}

/*--------------------
-----BODY-------------
----------------------*/
.title_desc {
  margin-top: 50px;
  width: 650px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.title_text {
  margin-bottom: 10px;
}

.title_desc p:first-child {
  font-size: 48px;
}

.title_desc > p {
  font-size: 18px;
  color: grey;
}

.title_desc p {
  display: inline;
}

section {
  margin-top: 25px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.block {
  height: 265px;
  width: 230px;
  text-align: center;
  box-shadow: 0 0 3px;
}

.block:not(.block_1) {
  margin-left: 25px;
}

.block_title {
  padding-top: 10px;
  height: 35px;
  background-color: whitesmoke;
  font-size: 18px;
  box-shadow: 0 2px 0px 0px rgb(204, 204, 204);
}

.price {
  margin-top: 17px;
  display: inline-flex;
}

.first_price {
  font-size: 27px;
  font-weight: bold;
}

.second_price {
  margin-left: 4px;
  display: inline-flex;
}

.second_price * {
  color: grey;
  margin-left: 5px;
  font-size: 27px;
}

.desc {
  margin-top: 10px;
}

.desc p {
  font-size: 14px;
  display: inline;
}

.btn {
  width: 160px;
  height: 40px;
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
}

.btn > * {
  width: 100%;
  height: 100%;
  border: 0px;
  background-color: blue;
  color: white;
  border-radius: 5px;
}

.btn > *:hover {
  border: 0.5px solid blue;
  color: blue;
  background-color: white;
  cursor: pointer;
}

.line_before_footer {
  height: 10px;
  border: none;
  box-shadow: 0 3px 2px -2px rgb(204, 204, 204);
  margin-top: 60px;
  width: 745px;
  text-align: center;
}

footer {
  margin-top: 5px;
  width: 815px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  flex-direction: row;
}

footer div {
  margin-right: 40px;
}

footer div > ul {
  display: flex;
  flex-direction: column;
}

footer div ul li {
  list-style: none;
  margin-top: 2px;
}

footer div ul li a {
  text-decoration: none;
  color: grey;
}

footer div:first-child ul li:last-child {
  font-size: 12px;
}

footer div ul li:first-child a {
  color: black;
}

footer div:not(.logo) ul li:first-child {
  font-weight: 700;
  margin-bottom: 5px;
  font-size: 16px;
}

footer div:not(.logo) ul li {
  font-size: 13px;
}
